@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-main-grey {
		background-color: #9F9E9E;
	}
	.bg-search-grey {
		background-color: #BABABA;	
	}
	.font-main-grey {
		color: #6B6060;
	}
  .standard-border {
    @apply rounded border-2 border-black
  }
	
}

@layer base {
	body {
		@apply bg-main-grey;
	}
}

